.App {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.mes-list {
  background-color: #161c29;
  height: max(100px, 50vh);
  width: min(500px, 40vw);
  overflow-y: scroll;
  padding: 10px 30px;
  border-radius: 30px 0 0 30px;
  margin: 10px 0 10px 0;
}

input {
  margin: 0 0 20px;
  font-size: 20px;
}
